#root {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1vw 10vw;
  background-color: rgba(37, 35, 35, 0.504);
  color: white;
  align-items: center;
  border-radius: 0.5vw;
}

.logo {
  width: 6vw;
}

.nav-items > ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 2vw;
  font-size: 1.5vw;
}

.restro-card {
  margin: 2vw;
  padding: 0.4vw;
  width: 20vw;
  height: 18vw;
  overflow: auto;
  box-sizing: border-box;
  background-color: rgba(215, 214, 214, 0.981);
}

.restro-card :hover {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5vw;
}
.restro-card > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.restro-card > h3 {
  margin-top: -0.5vw;
  font-size: 2vw;
}
